{% extends "index.html" %}
{% block title %}
  - Add
{% endblock %}
{% block content %}
  <form class="form col-md-8" action="" method="post">
    <h3 class="form-heading">Add Item
    <div class="pull-right">
      <button class="btn btn-default" type="submit" name="submit">Add</button>
      <a class="btn btn-default" href="{{url_for('catalog')}}">Cancel</a>
    </div>
    </h3>
    <div class="form-inline">
      {{ form.name(class = 'form-control first-input text-primary', value = itemName, placeholder = form.name.label.text, required = true, autofocus = true) }}
      {{ form.category(class = 'form-control text-primary', value = category, placeholder = form.category.label.text, autofocus = true) }}
      {{ form.user(class = 'form-control last-input', value = userEmail, required = true, autofocus = true) }}
    </div>
    {{ form.description(class = 'form-control', placeholder = form.description.label.text, required = true, autofocus = true) }}
  </form>
{% endblock %}
