{% extends "view.html" %}
{% block title %}
- Edit
{% endblock %}
{% block edit %}<div class="">

</div><form class="form col-md-8" action="" method="post">
    <h3 class="form-heading">Editing {{item['name']}} in {{item['category']}}
    <div class="pull-right">
      <button class="btn btn-default" type="submit" name="submit">Apply</button>
      <a class="btn btn-default" href="{{url_for('catalog')}}">Cancel</a>
    </div>
    </h3>
    <div class="form-inline">
      {{ form.name(class = 'form-control first-input text-primary', value = item['name'], placeholder = item['name'], required = true, autofocus = true) }}
      {{ form.category(class = 'form-control text-primary', value = item['category'], placeholder = item['category'], autofocus = true) }}
      {{ form.user(class = 'form-control last-input', value = item['user'], required = true, autofocus = true, placeholder = item['user']) }}
    </div>
    {{ form.description(class = 'form-control', value = item['description'], placeholder = item['description'], required = true, autofocus = true) }}
  </form>
{% endblock %}
