{% extends "categorylist.html" %} {% block title %} - {{currentCategory}} {% endblock %}
{% block breadcrumb %}
<li><a class="" href={{ url_for( 'catalog') }}>Categories</a></li>
<li class="active">{{currentCategory.title()}}</li>
{% endblock %} {% block content %}
<div class="row">
    <div class="panel-default col-md-3">
        {% block categoryList %}
        <div class="panel-body">
            {% for category in categoryList %}
            <a class="list-group-item" href="{{ url_for(" viewCategory ", category=category)}}">
              {{category}}</a> {% endfor %}
        </div>
        {% endblock %} {% block itemList %} {% for item in items %}
        <a class="list-group-item" href="{{ url_for("viewItem", category=item['category'], itemName=item['name']) }}">
      {{item['name'].title()}}
      <small>
        {{item['description']}}</small>
      <span class="badge">{{item['user']}}</span>
    </a>
     {% endfor %} {% endblock %} {% endblock %}
